{% extends "layout.html" %}

{% block body %}

    <ul class="passwordchange">
        <h1>Change Password:</h1>
        <h4>If you were redirected here, then the administrator has forced you to change your password. <br/>You are logged in as: {{ session.username }}</h4>
        <form action="{{ url_for('changepass') }}" method="post">
        <dl>
            <dt>Old Password:
            <dd><input type="password" name="oldpassword">
        
            <dt>New Password:
            <dd><input type="password" name="newpassword">

            <dt>Confirm New Password:
            <dd><input type="password" name="confirmpassword">
        
            <dd><input type="submit" value="Change Password">
        </dl>
    </ul>

{% endblock %}