{% extends "layout.html" %}

{% block body %}

<ul class="passwordchange">
    <h2 style="text-style: underline;">Change Password:</h2>
    <h3>If you were redirected here, then the administrator has forced you to change your password.
        <br/><br/>
        Changing password for: {{ username }}</h3>
    <form action="/user/changepass" method="post">
        <dl>
            <dt>Old Password:
            <dd><input type="password" name="oldpassword">

            <dt>New Password:
            <dd><input type="password" name="newpassword">

            <dt>Confirm New Password:
            <dd><input type="password" name="confirmpassword">

            <dd><input type="submit" value="Change Password">
        </dl>
    </form>
</ul>

{% endblock %}