{% extends "layout.html" %}

{% block body %}
<h2>Admin Users Panel</h2>
<div class="adminpanel">
    <table>
        {% for user in users %}
        <li style="list-style-type: none">
            <h3>{{ user.username }} | Rank: {{ user.rank }} | Email: {{ user.email }}</h3>
            <h3><a href="">Edit</a>&nbsp;|&nbsp;<a href="">Ban</a>&nbsp;|&nbsp;<a href="">Kick</a>&nbsp;|&nbsp;
                {% if user.rank == 4 %}
                <a href="{{ user.username }}/_promote">Promote</a></h3>
            {% elif user.rank == 1 %}
            <a href="{{ user.username }}/_demote">Demote</a></h3>
            {% endif %}
            <hr/>
        </li>
        {% else %}
        <li><em>ERROR: No users exist! <a href="/signup">Create a user now?</a></em></li>
        {% endfor %}
    </table>
</div>
{% endblock %}