{% extends "layout.html" %}

{% block body %}
<h1>Global Panel Settings</h1>
<div class="adminpanel">
    {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
    <form action="panel" method="post">
        <dl>
            <dt>
            <h3>Panel Debug Mode: </h3></dt>
            <dd>
                <select name="debug">
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
            </dd>

            <hr/>

            <dt>
            <h3>Server Creation: </h3></dt>
            <dd>
                <select name="server_creation_locked">
                    {% if lock_server_creation %}
                    <option value="True">Locked</option>
                    <option value="False">Unlocked</option>
                    {% endif %}
                    {% if not lock_server_creation %}
                    <option value="False">Unlocked</option>
                    <option value="True">Locked</option>
                    {% endif %}
                </select>
            </dd>

            <hr/>

            <dd><input type="submit" value="Save Settings"></dd>
        </dl>
    </form>
</div>

{% endblock %}