<!doctype html>
    <head>
        <title>BlazeGoat Panel</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <div class="page">
        <h1>BlazeGoat Panel</h1>
        <div class="nav">
        {% if not session.logged_in %}
            <a href="{{ url_for('register') }}">Sign Up</a>
            or
            <a href="{{ url_for('login') }}">Log In</a>
        {% else %}
            <a href="{{ url_for('logout') }}">Log Out</a>
        {% endif %}

    </div>

    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}
</div>
