<!doctype html>
    <head>
        <title>BlazeGoat Panel</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='websockets-serverindex.js') }}"></script>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">    
    </head>
    <div class="page">
        <h1>BlazeGoat Panel &nbsp;&nbsp;<img style="width: 48px; height: 48px;" src="{{ url_for('static', filename='favicon.ico') }}"></img></h1>
        <div class="nav">
            <a href="{{ url_for('index') }}">Home</a>
            &nbsp;|&nbsp;
        {% if not session.logged_in %}
            <a href="{{ url_for('register') }}">Sign Up</a>
            &nbsp;|&nbsp;
            <a href="{{ url_for('login') }}">Log In</a>
        {% else %}
            <a href="{{ url_for('createServer')}}">Create Server</a>
            &nbsp;|&nbsp;
            <a href="{{ url_for('changepass')}}">Change Password</a>
            &nbsp;|&nbsp;
            <a href="{{ url_for('logout') }}">Log Out</a>
        {% endif %}

    </div>

    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block body %}{% endblock %}
</div>